@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.sign-in{
    display: block;
    font-weight: 500;
    border-radius: 28px;
    border: 1px solid black;
    padding: 12px 18px 12px 18px;
    background-color: #A9A5FD;
    margin-right: -6rem;
}
.header-section{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    align-items: center;
    background-color: #FFFFFF;
}
/* .logo{
    margin-left: -6rem;
} */
.nav-list{
    display: flex;
}
.nav-list li{
    list-style: none;
    padding-right: 1.4rem;
    font-weight: 600;
}
.section{
    background-color: #a9a5fd2d;
}
.hero-section{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.5rem;
}
.about-section{
    padding-bottom: 4rem;
}
.head-lines,.head-caption{
    margin-bottom: 1.6rem;
}
.home-page-text{
    margin-top: 2.6rem;
    width: 29%;
    /* margin-left: -3.3rem; */
}
.head-lines{
    font-size: 2.7rem;
    font-weight: 700;
}
.head-caption{
    font-size: 1.12rem;
    font-weight: 500;
}
.home-banner{
    margin-top: 2.5rem;
} 
.cta-btn{
    background-color: #FF9898;
    border-radius: 45px;
    border: 1px solid black;
    padding: 16px 28px;
    font-size: 1rem;
    margin-top: 1rem;
    font-weight: 600;
}
.about-section{
    display: flow-root;
}
.work-article{
    margin-top: 2.6rem;
    width: 72%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    /* margin-left: 10rem; */
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6;
    margin-left: auto;
    margin-right: auto;
}
strong{
    font-weight: 700;
}
.service-article{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.icon-work{
    display: block;
    width: 28%;
    margin: 0 auto;
}
#work-head{
    font-weight: 700;
    font-size: 1.84rem;
}
.work{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 22%;
    text-align: center;
}
.work h2{
    font-weight: 600;
    font-size: 1.5rem;
}
.work p{
    font-weight: 400;
    font-size: 1rem;
}
.start-section{
    display: flex;
    height: 28vh;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFF;
}
.head-pay{
    padding: 2rem 0;
}
.start-note{
    width: 42%;
    /* margin-left: 0.6rem; */
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
}
.start{
    display: block;
    background-color: #C0FFE0;
    border-radius: 45px;
    border: 2px solid black;
    padding: 16px 24px;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 3.2rem;
}
.work-package{
    background-color: #a9a5fd2d;
    padding-bottom: 4rem;
    padding-top: 4px;
}
.package-title{
    width: 71%;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 11rem; */
}
.package-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1rem;
}
.package{
    width: 35%;
    border: 2px solid black;
    border-radius: 16px;
    padding: 20px;
    line-height: 1.7;
}
.package *{
    margin-bottom: 0.4rem;
}
.career-section{
    padding-top: 3.3rem;
    padding-bottom: 3.3rem;
    background-color: #FFFFFF;
}
.career-title{
    margin-bottom: 1.8rem;
    width: 86%;
    margin-left: auto;
    /* margin-left: 11rem; */
}
.career{
    display: flex;
    width: 70%;
    /* margin-left: 11.5rem; */
    font-weight: 600;
    font-size: 1.3rem;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    margin-left: 10rem;
}
.footer-bar{
    background-color: #000000;
    color: white;
    padding-top: 4px;
    padding-bottom: 3rem;
}
.contact{
    display: flex;
    color: #000000;
    background-color: #FFFFFF;
    width: 75%;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 3.9rem;
    padding: 1.8rem 0;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.1rem;
}
.questions{
    line-height: 1.6;
}
.phone,.mail{
    border-radius: 50px;
    border: 1px solid black;
    padding: 18px 30px;
    font-weight: 600;
    font-size: 1rem;
}
.phone{
    background-color: #FF9898;
    margin-right: 0.6rem;
}
.mail{
    background-color: #A9A5FD;
    margin-right: -3rem;
}
.menu-foot{
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    border: 1px solid #FFFFFF;
    margin: 2.3rem auto;
    border-radius: 6px;
    padding: 1.5rem 0;
}
ul li{
    list-style: none;
}
#home{
    color: #A9A5FD;
}
img[alt='connect']{
    display: block;
}
.foot-head{
    padding-right: 8rem;
    padding-bottom: 0.8rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #FFFFFF;
}
.foot-list li{
    padding-bottom: 1rem;
    display: flex;
    gap: 0.6rem;
}












